img{
    height: 8vh;
    width: 8vh;
}
.CustomText{
    color: #FA7949;
}
.bg-glass{
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.473), rgba(105, 63, 63, 0.473));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.btn-glass{
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.753), rgba(255, 166, 2, 0.884));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 200px; */
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.bg-collapse{
    color: black;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.753), rgba(255, 166, 2, 0.884));
}
li{
    text-transform: capitalize;
    /* color: #FA615B; */
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
li:hover{
    transform: scale(1.1);
}
li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #030000;
    transition: width 0.4s ease-in-out;
}
li:hover::before {
    width: 100%;
}
.acctive{
    color:rgb(0, 0, 0) !important;
    font-size: 1.3rem;
}
